<div *ngIf="currentpost">
    <form>
        <div class="form-group">
            <label for="user">User Id :</label>
            <label for="userId" name="currentpost.userId">{{currentpost.userId}}</label>
        </div>
        <div class="form-group">
            <label for="title">title :</label>
            <input type="text" class="form-control" name="currentpost.title"  [(ngModel)]="currentpost.title"/>
        </div>
        <div class="form-group">
            <label for="comment">comment :</label>
            <input type="text" class="form-control" name="currentpost.comment"  [(ngModel)]="currentpost.comment"/>
        </div>
        <button type="button" class="btn btn-default"  (click)="updatePots(currentpost)">Save</button>
    </form>
</div>