<div class="row">
  <br>
  <button type="button" class="btn btn-primary" (click)="redirectCreatePost()">Add Post</button>
</div>
<br>
<div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <td>
          User ID
        </td>
        <td>
          Title
        </td>
        <td>
          Comment
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>
          <a routerLink="/edit/{{post.userId}}">{{ post.userId }}</a>
        </td>
        <td>
          {{ post.title }}
        </td>
        <td>
          {{post.comment}}
        </td>
      </tr>
    </tbody>
  </table>
</div>